//Common
$default-width:               1068px;
$background-color-body:     #f2f4f6;

//Footer
$footer-background-color:   #2b2b2b;
$footer-color:              #707070;
$footer-divider-color:      #323232;

//Line Divider Color
$border-line-default-color: #f4f6f7;


//Main Search Colors
$search-color:              #96a3b5;

//Facebook Color
$fb-color:                  #3b5998;

//Colors
$color-red:                 #f04f4f;
$color-white:               #ffffff;
$color-green:               #87c23a;
$color-orange:              #f7d244;
$color-black:               #5b5b5b;
$color-grey:                #ced4da;
$color-grey-bold:           #adaeb0;
$color-pink:                #ffc6c6;
$color-turq-blue:           #42f4cb;


//Font Size
$default-font-size-percent:     62.5%; //10px By Default
$default-font-size:             1.3rem;
$small-font-size:               1.1rem;

$icon-font-size:                1.5rem;

//Border Radius
$border-radius-small:           2px;
$border-radius-medium:          4px;
$border-radius-large:           6px;
